<div class="main">
    <table class="tb">
        <thead>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th>Inicio_Licencia</th>
            <th>Fin_Licencia</th>
            <th>Ubicación</th>
        </thead>
        <tbody>
            <td>San Marcos</td>
            <td>Pública</td>
            <td>Licenciada</td>
            <td>20/08/2018</td>
            <td>20/08/2028</td>
            <td>Cercado de Lima</td>
        </tbody>
    </table>
</div>

