<div>
    <div class="content-filter">
      <label for="buscar">Buscar universidad: </label>
      <input type="text">
      <button class="btn-image">
          <img src="../../../assets/search.png" alt="Imagen de un buscador">
      </button>
    </div>
    <div class="content-main">
      <table class="content-table">
        <thead>
            <th class="name">Nombre</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th>Ubicación</th>
        </thead>
        <tbody>
            <td>Universidad Nacional Mayor de San Marcos</td>
            <td>Pública</td>
            <td>Licenciada</td>
            <td>Lima - Lima - Lima</td>
        </tbody>
    </table>
    </div>
</div>

