.main{
    text-align: center;
}
.tb{

    display: inline-block;
    margin: 2% 15%;
    border-collapse: collapse;
}
thead{
    background-color: blueviolet;
    color: white;
    border: 1px solid;
}
th, td{
    border: 1px solid;
    padding: 10px;
}
