<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.idUniversity}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.state}} </td>
      </ng-container>

      <ng-container matColumnDef="startLicense">
        <th mat-header-cell *matHeaderCellDef> Inicio_Licencia </th>
        <td mat-cell *matCellDef="let element"> {{element.startLicense}} </td>
      </ng-container>

      <ng-container matColumnDef="endLicense">
        <th mat-header-cell *matHeaderCellDef> Fin_Licencia </th>
        <td mat-cell *matCellDef="let element"> {{element.endLicense}} </td>
      </ng-container>

      <ng-container matColumnDef="ubicacion">
        <th mat-header-cell *matHeaderCellDef> Ubicación </th>
        <td mat-cell *matCellDef="let element"> {{element.ubicacion}} </td>
      </ng-container>

    </table>

    <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Selecciona la página">
    </mat-paginator>

  </div>
