<div class="general">

    <div class="mision">
        <h1 class="title">¿Que hacemos?  </h1>
        <p>Asegurar una oferta educativa de calidad en favor de los estudiantes, a través del licenciamiento y supervisión de este servicio público, con eficiencia, predictibilidad, transparencia y respeto a la autonomía universitaria.</p>
        <p>A través de la publicación de la Ley Universitaria, Ley Nº 30220, se hace oficial la creación de la Superintendencia Nacional de Educación Superior Universitaria (Sunedu), cuya constitucionalidad fue ratificada por el Tribunal Constitucional el 26 de enero de 2016.</p>
        <p>Este organismo público nace para proteger el derecho de los jóvenes a recibir una educación universitaria de calidad y, de esta manera, mejorar sus competencias profesionales.</p>
        <p>La Sunedu se convirtió, desde el 5 de enero de 2015, en la responsable del licenciamiento para ofrecer el servicio educativo superior universitario. Siendo un organismo público técnico especializado, adscrito al Ministerio de Educación, se encarga también de verificar el cumplimiento de las condiciones básicas de calidad y fiscalizar si los recursos públicos y los beneficios otorgados a través del marco legal son destinados hacia fines educativos y el mejoramiento de la calidad.</p>
        <p>
            La Sunedu asume la función de administrar el Registro Nacional de Grados y Títulos, bajo la consigna de brindar seguridad jurídica de la información que se encuentra registrada y garantizar su autenticidad.
        </p>
    </div>
    <div class="funciones">
        <h1 class="title">Nuestras funciones</h1>
        <ul>
            <li>Aprobar o denegar las solicitudes de licenciamiento de universidades, filiales, facultades, escuelas y programas de estudios conducentes a grado académico, de conformidad con la Ley Universitaria y la normativa aplicable.</li>
            <li>Determinar las infracciones e imponer las sanciones que correspondan en el ámbito de su competencia.</li>
            <li>Emitir opinión respecto al cambio de denominación de las universidades a solicitud de su máximo órgano de gobierno, con excepción de aquellas creadas por ley.</li>
            <li>Supervisar en el ámbito de su competencia la calidad de la prestación del servicio educativo, considerando la normativa establecida respecto a la materia.</li>
            <li>Normar y supervisar las condiciones básicas de calidad exigibles para el funcionamiento de las universidades, filiales, facultades, escuelas y programas de estudio conducente a grado académico, así como revisarlas y mejorarlas periódicamente.</li>
            <li>Supervisar el cumplimiento de los requisitos mínimos exigibles para el otorgamiento de grados y títulos de rango universitario en el marco de las condiciones establecidas por ley.</li>
            <li>Fiscalizar si los recursos públicos, la reinversión de excedentes y los beneficios otorgados por el marco legal a las universidades han sido destinados a fines educativos, en el marco de las normas vigentes sobre la materia y en coordinación con los organismos competentes, con el objetivo de mejorar la calidad.</li>
            <li>Proponer al Ministerio de Educación, las políticas y lineamientos técnicos en el ámbito de su competencia.</li>
            <li>Supervisar que ninguna universidad tenga en su plana docente o administrativa a personas impedidas conforme al marco legal vigente.</li>
            <li>Publicar un informe anual sobre el uso de los beneficios otorgados por la legislación vigente a las universidades.</li>
            <li>Organizar y administrar estadística de la oferta educativa del nivel superior universitario bajo su competencia y hacerla pública.</li>
        </ul>
    </div>
    <div class="organigrama">
       <mat-icon>supervised_user_circle</mat-icon>
       <h1 class="title">Organigrama</h1>
       <img class="org" src="../../../assets/organigrama.jpg" alt="Imagen referencial del organigrama de la SUNEDU">
    </div>

    <div class="directivos">
        <div class="card-dir">
            <img src="" alt="">
            <h2></h2>
            <p></p>
        </div>
    </div>

    <div class>
        <h1 class="title">Finalidad del proyecto</h1>
        <p>El presente proyecto tiene como fin el registro de universidades licenciadas tomando como referencia los registros oficiales obtenidos del siguiente <a href="https://www.datosabiertos.gob.pe/dataset/sunedu-licenciamiento-institucional/resource/b582532d-3202-4de3-a7ea-b35bd97f7079#{}" target="_blank">enlace</a>  </p>
    </div>
</div>
