.general{
    font-size: 17px;
}
.title{
    font-size: 36px;
}
.mision{
    max-width: 100%;
    background-color: var(--plomo);
    border-radius: 10px;
    padding: 20px;
    margin: 0% 15%;
    text-align: justify;
    box-shadow: 10px 10px 10px var(--plomo-2);
}
.mision:not(:last-child){
    margin: 2% 15%;
}
.funciones{
    background-color: var(--plomo);
    box-shadow: 10px 10px 10px var(--plomo-2);
    border-radius: 10px;
    padding: 20px;
    margin: 2% 15%;
    text-align: justify;
}
.organigrama{
    background-color: var(--plomo);
    max-width: 100%;
    text-align: center;
}
.org{
    border: 1px solid black;
    width: 70%;
}
