.title{
    font-size: 36px;
}
.mision{
    background-color: #f2f5f8;
    border-radius: 10px;
    font-size: 17px;
    padding-top: 2%;
    padding-bottom: 5%;
    margin-top: 2.25rem;
    margin-left: 10%;
    margin-right: 20%;
    text-align: justify;
}
