<div>

    <div class="mision">
    <h1 class="title">¿Que hacemos?  </h1>
    <p>Asegurar una oferta educativa de calidad en favor de los estudiantes, a través del licenciamiento y supervisión de este servicio público, con eficiencia, predictibilidad, transparencia y respeto a la autonomía universitaria.</p>
    <p>A través de la publicación de la Ley Universitaria, Ley Nº 30220, se hace oficial la creación de la Superintendencia Nacional de Educación Superior Universitaria (Sunedu), cuya constitucionalidad fue ratificada por el Tribunal Constitucional el 26 de enero de 2016.</p>
    <p>Este organismo público nace para proteger el derecho de los jóvenes a recibir una educación universitaria de calidad y, de esta manera, mejorar sus competencias profesionales.</p>
    <p>La Sunedu se convirtió, desde el 5 de enero de 2015, en la responsable del licenciamiento para ofrecer el servicio educativo superior universitario. Siendo un organismo público técnico especializado, adscrito al Ministerio de Educación, se encarga también de verificar el cumplimiento de las condiciones básicas de calidad y fiscalizar si los recursos públicos y los beneficios otorgados a través del marco legal son destinados hacia fines educativos y el mejoramiento de la calidad.</p>
    <p>
        La Sunedu asume la función de administrar el Registro Nacional de Grados y Títulos, bajo la consigna de brindar seguridad jurídica de la información que se encuentra registrada y garantizar su autenticidad.
    </p>
    </div>
    <div class="funciones">

    </div>
    <div class>
        <p>El presente proyecto tiene como fin el registro de universidades licenciadas tomando como referencia los registros oficiales obtenidos del siguiente <a href="https://www.datosabiertos.gob.pe/dataset/sunedu-licenciamiento-institucional/resource/b582532d-3202-4de3-a7ea-b35bd97f7079#{}" target="_blank">enlace</a>  </p>
    </div>
</div>
