<mat-toolbar  class="toolbar">
      <button mat-icon-button class="icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <a [routerLink]="'/'" mat-icon-button class="example-icon favorite-icon"><img src="../../../assets/logo-sunedu.png" width="30px" height="30px" alt=""></a>
      <span><a class="title" [routerLink]="'/'">Sunedu</a> </span>
      <a [routerLink]="'/universidades'" class="clean">Universidades</a>
      <a [routerLink]="'/registrar'" class="clean">Registrar Universidad</a>
</mat-toolbar>

