/*Iphone 10*/
@media(max-width:415px){
  .content-form{
    text-align: center;
    border: 1px solid red;
  }
  label, input,button,select{
    display: block;
    margin: 10px 0;
    background-position: center center;
  }
  input{
    height: 20px;
    width: 90%;
  }
}
